[data-md-color-scheme="default"] {
  --md-primary-fg-color: #0033A0;
}
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #0033A0;
  --md-typeset-a-color: #4C9AFF
}

.md-social {
  margin: 0 px2rem(8px);
  padding: px2rem(4px) 0 px2rem(12px);

  // [tablet portrait +]: Show copyright and social links in one line
  @include break-from-device(tablet portrait) {
    padding: px2rem(12px) 0;
  }

  // Footer social link
  &__link {
    display: inline-block;
    width: 100%;
    height: px2rem(32px);
    text-align: center;

    // Adjust line-height to match height for correct alignment
    &::before {
      line-height: 1.9;
    }

    // Fill icon with current color
    svg {
      max-height: px2rem(16px);
      vertical-align: -25%;
      fill: currentcolor;
    }
  }
